<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">  <!-- Added / to fix css part-->
    <!-- link to css is added -->

</head>
<body>

    <div class="banner"> Welcome to Our Project!</div> <!-- a division is created that uses class banner for its looks -->
    
    <div>
        <%= username %>
    </div>

    <a href ="index.ejs" style="position: absolute; top: 90px; right: 90px; font-size: 20px;">Go to users</a>
    <button style ="font-family: 'Arial Black'; font-size: 20px;" type="submit">Edit</button>
</body>
</html>