.banner {
  background-image: url('banner.jpg');
  background-size: cover;
  background-position:center;
  height: 120px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(1, 22, 6);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.center-text {
  text-align: center;
  font-size: 40px;
}
.form-position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 60vh;
  background-color: rgb(124, 159, 124);
}

.styled-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 950px;
  position: center
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
textarea {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}